
#FamilyFoundSection #FamilyFound {
  position: relative;
  min-height: 190px;
}

#FamilyFoundSection .left-side {
  width: 550px;
}

#FamilyFoundSection .left-side input.new-todo {
  width: 285px;
}

#FamilyFoundSection .fan-chart {
  position: absolute;
  top: 20px;
  right: 5px;
}

#tree-style #FamilyFoundSection a.open-close-button {
  color: #0051c4;
}

#FamilyFoundSection .status label {
  padding: 10px 5px;
}

#FamilyFoundSection svg .radial {
  stroke-width: 2px;
  stroke: #aaa;
}

#FamilyFoundSection label {
  display: inline-block;
}

#FamilyFoundSection button.delete {
  border: none;
  background-color: transparent;
  padding: 11px;
  line-height: 0px;
  display: inline-block;
}

#FamilyFoundSection .status .status-indicator {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 10px;
  margin-bottom: -7px;
  margin-right: 10px;
}

#FamilyFoundSection .status .status-indicator {
  background-color: rgb(255, 200, 233);
}

#FamilyFoundSection .status .status-indicator.clean {
  background-color: rgb(150, 230, 255);
}

#FamilyFoundSection .status .status-indicator.complete {
  background-color: rgb(115, 255, 176);
}


#FamilyFoundSection .status label input {
  margin-top: -4px;
}

#FamilyFoundSection .status label span {
  margin-left: 6px;
}
