#FamilyFoundSection.rounded-section
  .section-wrap
    h4.gadget-title Family Found Research
    #FamilyFound.gadget.familyFound(ng-controller='FamilyFoundCtrl')
      .status.btn-group(data-toggle="buttons-radio")
        label
          input(type="radio", value="working", ng-model="status")
          span Working
        label
          input(type="radio", value="clean", ng-model="status")
          span Clean
        label
          input(type="radio", value="complete", ng-model="status")
          span Complete
      form.todo-form(ng-submit="addTodo()")
        select.todo-type(ng-model='todoType', ng-options='value for value in todoTypes')
        input.new-todo(placeholder='Describe your todo', ng-model='todoDescription')
      ul.todos
        li.todo(ng-repeat="todo in todos", ng-class="{done: todo.done}", data-todo="todo")
